
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #5a357a;
}

body, p, legend, label, input {
    font-family:"palatino linotype", palatino, serif;
    background-color:#5cb962;
}

fieldset {
    padding: 10px;
    border: 1px #5a357a solid;
    color:white;
}

legend {
    font-weight: bold;
    color: #5a357a;
}

/* Forms --------------------------------------------------------------------------------------- */

input[type=password]:focus {
    border: 3px solid #555;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #5a357a;
    color: white;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #5a357a;
    color: white;
}